@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

button {
  background: linear-gradient(135deg, #38bdf8, #0ea5e9);
  border: none;
  padding: 10px 20px;
  border-radius: 999px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
